<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=divice-width,initial-scale=1 "/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <title>{% block title %} Home {% endblock %}</title>
        </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbart" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                 {% if user.is_authenticated %}
            
                <a class="nav-item nav-link" id="login"href="/">Mes preferences</a>
                <a class="nav-item nav-link" id="login"href="/index">Biblio</a>
                <a class="nav-item nav-link" id="login"href="/emprunt">Ajout préférences</a>
                <a class="nav-item nav-link" id="login"href="/dashboard">Dashboard</a>
                <a class="nav-item nav-link" id="login"href="/livre">Les Livres</a>
                <a class="nav-item nav-link" id="users"href="/clusters"> utilisateur|cluster </a>
                <div style="text-align: right;">

                <a class="nav-item nav-link "  id="login"href="/logout">Se deconnecter</a>
 
                </div>

                {% else %}
                <a class="nav-item nav-link" id="login"href="/index">Home</a>
                <a class="nav-item nav-link " id="login"href="/login">Se conneceter</a>
                <a class="nav-item nav-link"  id="login"href="/sign-up">Creer Compte</a>
                {% endif %}
            </div>
        </div>
        </nav>
      
        {% with messages= get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          {% if category =='error' %} 
              <div class="alert alert-danger alter-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
           </button>
            </div>
        {% else %}
        
          <div class="alert alert-success  alter-dismissible alert-dismissible fade show" role="alert">
            {{ message}} 
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif%} 
          {% endfor %}
          {% endif%} 
          {% endwith %}

      <div class="container">  
          {% block  content %}
          {% endblock %}
     </div>



         <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="{{url_for('static',filename='index/js')}}"></script>
    </body>

 </html>   