{% extends "base.html" %} {% block title %}Changed{% endblock  %}
{% block  content %}



<h3 align="center">Mes preferences : {{user.biblios|length}}</h3>
<!-- <ul class="list-group list-group-flush" id="biblio">
    {%for biblio in user.biblios%}
    <li class="list-group-item">{{biblio.titre}}</li>
    <li class="list-group-item">{{biblio.categorie}}</li>
    <li class="list-group-item">{{biblio.note}}</li>
   
    {%endfor %}
</ul> -->

<table class="table table-striped">
  <thead>
    <tr>
      
      <th scope="col">Titre</th>
      <th scope="col">Catégorie</th>
      <th scope="col">Note</th>
    </tr>
  </thead>
  <tbody>
    {%for biblio in user.biblios%}
    <tr>
      
      <td>{{biblio.titre}}</td>
      <td>{{biblio.categorie}}</td>
      <td>{{biblio.note}}</td>
    </tr>
    {%endfor %}
  </tbody>
</table>

<!-- <ul class="list-group list-group-flush" id="biblio">
  {%for biblio in biblios%}
  {%if biblio.profile==user.profile %}
  <li class="list-group-item">{{biblio.titre}}</li>
  <li class="list-group-item">{{biblio.categorie}}</li>
  <li class="list-group-item">{{biblio.note}}</li>
   {%endif%}
  {%endfor %}
</ul> -->


{% endblock %}