{% extends "base.html" %} {% block title %}Changed{% endblock  %}
{% block  content %}

<form method="post">
    <span class="border"></span>
    <div class="row"> 
      <label class="input-group-text" for="inputGroupSelect01" name="titre">Titre:</label>
      <input type="text" name="titre" id="titre" placeholder="">
      <label class="input-group-text" for="inputGroupSelect01">Type:</label>
      <select name="type" class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option value="francais">Livre</option>
        <option value="anglais">DVD</option> 
      </select>  
     <label class="input-group-text" for="inputGroupSelect01" >Langue :</label>
        <select name="langue" class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option value="francais">Francais</option>
          <option value="anglais">Anglais</option> 
       </select>
    <label class="input-group-text" for="inputGroupSelect01" >Catégorie:</label> 
        <select name="categorie" class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option value="literaturefrancaise">D103 Psychologie</option>
          <option value="literatureetrangere">CFRA Cinema francais</option>
          <option value="literatureetrangere">LFRA Litterature francaise</option>
          <option value="literatureetrangere">D506 Botanique</option>
          <option value="literatureetrangere">Littérature étrangère</option>
          <option value="literatureetrangere">D506 Botanique</option>
        </select>
      
      <label class="input-group-text" for="inputGroupSelect01">Note :</label>
        <select name="note" class="form-select" aria-label="la Note">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
     
      </div>
    </br>
    <div align="center">
      <button type="submit"  align="center" class="btn btn-primary">Valider</button>
    </div>
    </form>
<br/>
    <h1 align="center">Ma Biblio</h1>
<ul class="list-group list-group-flush" id="biblio">
    {%for biblio in user.biblio%}
    <li class="list-group-item">{{biblio.titre}}</li>
    <li class="list-group-item">{{biblio.categorie}}</li>
    <li class="list-group-item">{{biblio.note}}</li>
   
    {%endfor %}
</ul>
<ul class="list-group list-group-flush" id="biblio">
  {%for biblio in biblios%}
  {%if biblio.profile==user.profile %}
  <li class="list-group-item">{{biblio.titre}}</li>
  <li class="list-group-item">{{biblio.categorie}}</li>
  <li class="list-group-item">{{biblio.note}}</li>
   {%endif%}
  {%endfor %}
</ul>
{% endblock %}