<html> 
<body> 
    <h3>Customer Segmentation</h3> 
  
<div> 
  <form action="/result" method="POST"> 
    <label for="langue">Annual Income</label> 
    <input type="text" id="langue" name="langue"> 
    <br>
    <label for="categorie_statistique_1">categorie_statistique_1</label> 
    <input type="text" id="categorie_statistique_1" name="categorie_statistique_1"> 
    <br>
    <label for="nombre_de_pret_total">nombre_de_pret_total</label> 
    <input type="text" id="nombre_de_pret_total" name="nombre_de_pret_total"> 
    <br>       
    <input type="submit" value="Submit"> 
  </form> 
</div> 
</body> 
</html