{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block  content %}
<head>
<link rel="stylesheet" href='/static/login.css' />
</head>


<div class="wrapper fadeInDown">
    <div id="formContent">
  
      <div class="fadeIn first"><img src="{{url_for('static', filename='logo.png')}}" align="middle" /></div>
      <form method="POST">
        <div class="form-group">
          <label for="username">Identifiant</label>
          <input type="email" class="form-control" placeholder="Tappez votre email" id="email" name="email"  />
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" id="password" placeholder="Tappez votre mot de passe" class="form-control" name="password"  />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" >Login</button>
        </div>
        <div id="formFooter"><a class="underlineHover" href="/sign-up">Pas inscri ?</a></div>

      </form>
    <br>

    </div>
  </div>

{% endblock %}